@media (max-width:821px){
    body{
      font-size: 0.8em;
    }
    h1{
      font-size: 2.7em;
    }
    /*HEADER START*/
  .nav__logo{
    padding-top: 38px;
    transform: scale(0.8);
  }
    /*HEADER END*/
  /*BANNER START*/
  .fondo__degrade {
      top: 32%;
      height: 250px; 
      padding-top: 25px; 
      border-radius: 100px 0 0 0;     
    }  
   .fondo__degrade p{
      width: 45%;
    }
    .next__event__square{
      position: absolute;
      right: 6%;
      bottom: -22%;
      transform: scale(0.7);
    }
  /*BANNER END*/
  /*SECTION 1 START*/
  .about__us__text {
    top: 26.5%;
    left: 5%;
  }
  .about__us__section1 p {
    margin-left: 40%;
    width: 49%;
  }
  /*SECTION 1 END*/
  /*SECTION 2 START*/
  .Exquisite__hapiness__section2{
    bottom: 40px;
  }
  .Exquisite__hapiness__section2 p{
    width: 47%;
  }
  .Exquisite__hapiness__background{
    width: 100%;
  }
  .Exquisite__hapiness__linea1{
    position: absolute;
    width: 150px;
    height: 199.02px;
    border-radius: 60px 0 0 0;
    outline: 1px solid #EBD398;
    top: 34% !important;
    right: 20%;
  }
  .Exquisite__hapiness__linea2{
    position: absolute;
    width: 150px;
    height: 199.02px;
    border-radius: 60px 0 0 0;
    outline: 1px solid #EBD398;
    top: 15% !important;
    right: 6%;
  }
  .section2__cupcake__torta{
    transform: scale(0.55) translate(-200px, -260px);
  }
    /*SECTION 2 END*/
  
    /*SECTION 3 START*/
  .Our__products__section3{
    bottom: 360px;
  }
  .Our--products--div--title{  
    right: 10%;  
    margin: 8% 5%;
    margin-left: 12%;
    border-radius: 60px 0 60px 0;
    outline: 1px solid #EBD398;
    padding: 60px 40px 60px;
  }  
  .title__img--style{
    top: -150px;
    left: -15%;
    border-radius: 60px 0 60px 0px;
  }
  .Our__products__title__Img{
    transform: scale(0.45);
  }
    /*SECTION 3 END*/
  /*GALLERY START*/
  .Our__products__gallery-container{
    grid-gap: 30px;
    grid-auto-rows: 260px;
    padding: 5% 15%;
  }/*
  .galery__item:nth-child(1){
      display: none;
  }
  .galery__item:nth-child(2){
      display: none;
  }
  .section3--esquina1{
      border-radius: 0 100px 0 0 ;
  }
  .section3--esquina2{
      border-radius: 0  0 0 100px;
  }
  .section3--esquina3{
      border-radius: 0 0 100px 0;
  }
  .section3--esquina4{
      border-radius: 100px 0 0 0 ;
  }
  /*GALLERY END*/  
    /*SECTION 4 START*/
 
  .news__letter__section4 h1 {
     font-size: 1.4em  !important;
  } 

  .news__letter__section4 p {
    width: 95%;
 } 
 .email__button{
   margin-top: 10px;
 }
  .news__letter__section4 {
    position: absolute;
    height: 300px;
    width: 100%;
    bottom: -120%; 
   
  }
  .newsLetter__text{
    position: absolute;
    
    height: 280px; 
    width: 35%;   
    margin: 0 35%;
    padding: 20px 30px;  
   
  }
  
    /*SECTION 4 END*/
  }

 @media (max-width:1180px){
.Exquisite__hapiness__background{
    width: 100%;
}
  }