@media (max-width:821px){
    body{
      font-size: 0.8em;
    }
    h1{
      font-size: 2.8em;
    }
    /*HEADER START*/
  .nav__logo{
    padding-top: 38px;
    transform: scale(0.8);
  }
    /*HEADER END*/
  /*BANNER START*/
    .fondo__degrade {
      top: 30%;
      height: 300px; 
      padding-top: 25px; 
      border-radius: 100px 0 0 0;     
    }  
   .fondo__degrade p{
      width: 50%;
    }
    .cuadrito{
      position: absolute;
      right: 8%;
      bottom: -15%;
      transform: scale(0.7);
    }
  /*BANNER END*/
  /*SECTION 1 START*/
  .texto__about__us {
    top: 26.5%;
    left: 5%;
  }
  .about__us p {
    margin-left: 40%;
    width: 45%;
  }
  /*SECTION 1 END*/
  /*SECTION 2 START*/
  .section2{
    bottom: 40px;
  }
  .section2 p{
    width: 47%;
  }
  .section2__img{
    width: 100%;
  }
  .section2__linea1{
    position: absolute;
    width: 150px;
    height: 199.02px;
    border-radius: 60px 0 0 0;
    outline: 1px solid #EBD398;
    top: 34% !important;
    right: 20%;
  }
  .section2__linea2{
    position: absolute;
    width: 150px;
    height: 199.02px;
    border-radius: 60px 0 0 0;
    outline: 1px solid #EBD398;
    top: 15% !important;
    right: 6%;
  }
  .cupcake__torta{
    transform: scale(0.55) translate(-200px, -260px);
  }
    /*SECTION 2 END*/
  
    /*SECTION 3 START*/
  .section3{
    bottom: 360px;
  }
  .section3--div{  
    right: 10%;  
    margin: 8% 5%;
    margin-left: 12%;
    border-radius: 60px 0 60px 0;
    outline: 1px solid #EBD398;
    padding: 60px 40px 60px;
  }  
  .estilo--img{
    top: -150px;
    left: -10%;
    border-radius: 60px 0 60px 0px;
  }
  .section3__pastel{
    transform: scale(0.5);
  }
    /*SECTION 3 END*/
  /*GALLERY START*/
  .section3__galery{
      grid-template-columns: repeat(2, 1fr);
  }
  .galery__item:nth-child(1){
      display: none;
  }
  .galery__item:nth-child(2){
      display: none;
  }
  .section3--esquina1{
      border-radius: 0 100px 0 0 ;
  }
  .section3--esquina2{
      border-radius: 0  0 0 100px;
  }
  .section3--esquina3{
      border-radius: 0 0 100px 0;
  }
  .section3--esquina4{
      border-radius: 100px 0 0 0 ;
  }
  /*GALLERY END*/  
    /*SECTION 4 START*/
  
  .section4 h1 {
     font-size: 1.4em  !important;
  }
  .section4__newsLetter {
    position: absolute;
    top: 20%;
    height: 300px;
    width: 40%;
    margin: 0 30%;
    padding: 30px 20px 30px 20px;
    outline: 1px solid #EBD398;
  }
    /*SECTION 4 END*/
  }
  @media (max-width:1180px){
.section2__img{
    width: 100%;
}
  }