@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #150b01;
}

/*header {
  padding: 50px;
}*/

button {
  background-color: transparent;
  border: none;
}

ul {
  list-style: none;
}

.flex {
  display: flex;   
}
/*clase utilitaria para acomodar horizontalmente todo en el centro*/
.aling-items-center {
  align-items: center;
}
/*acomodacion de todo el menu*/
.nav {
  z-index: 2;
  justify-content: space-around;
  position: absolute;
  width: 100%;
}
/*estilo de los nav del menu*/
.nav a {
  text-decoration: none;
  font-size: .90em;
  font-family: 'Playfair Display', serif;
  color: #dfdfdf;
}
/*margen entre cada uno de los elementos del menu*/
.menu__item, .menu__icon {
  margin: 0 10px;
  padding: 5px 10px;
}
/*sombreado elementos menu*/
.menu__item:hover{
  background-color: #dfdfdf1a;
  outline: 1px solid #EBD398;
  border-radius: 20px;  
}
.menu__item:hover a{
  color: #DF9146;
}
/*cambiar tamaño image ICONOS*/
.menu__icon img {
  height: 20px;   
}
/*espacio contenedor iconos respecto al menu2 y al borde derecho */
/*.nav__icon {
  padding-right: 100px;   
} */
                                              
/*cambiar tamaño image LOGO*/
.nav__logo img {  
  height: 85px;
}
.nav__logo {
  padding-top: 50px;
}

.banner__img {
  object-fit: cover;
}

.banner {
  position: relative;  
}

.fondo__degrade {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  width: 88%;
  top: 25%;
  left: 10px;
  margin: 0 5%;
  height: 510px;    
  display: flex;
  border-radius: 120px 0 0 0;
  outline: 1px solid #EBD398;
  background: linear-gradient(90deg, rgba(21,11,1,1) 10%, rgba(21,11,1,0.8743872549019608) 45%, rgba(21,11,1,0.16010154061624648) 100%);
}

.text__details {  
  margin-left: 10%;
}

.estilo__h3 {
  font-size: .75em;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  color: #EBD398;
}

h1 {
  font-size: 4em;
  font-family: 'Playfair Display', serif;
  font-weight: 500;
  color: #FFF;
}

.parrafo {
  padding-top: 15px;
  width: 45%;
  font-size: 1em;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: #FFF;
}

.cuadrito{
  position: absolute;
  right: 15%;
  bottom: -55px;
}

.absolute--cuadrito {
  position: absolute;
  right: 15%;
  bottom: 30%;
}

.absolute--cuadrito h4{
  text-align: right;
  width: 80%;
  padding-bottom: 10%;
  margin-left: 20%;
  font-size: 1.5em;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  color: #3a3e49;
}
.absolute--cuadrito a{
  text-align: right;
  margin-left: 56%;
  margin-top: 85px;
  padding: 10px 15px;
  outline: 2px solid #5F2D12;
  color: #5F2D12;

  text-decoration: none;
  font-size: .75em;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  
  

}

